body {

    font-family: Times New Roman, sans-serif;

    margin: 20px;

    background-color: violet;

}

h1, h2, h3 {

    

    color: bisque;

}

nav a {

    color: beige;

    text-decoration: none;

    margin-right: 10px;

}

div {

    background: beige;

    padding: 10px;

    margin-bottom: 10px;

    border-radius: 5px;

}
